<mat-toolbar color="primary" style="background-color: rgb(0, 0, 0, 0.75);">
  <button routerLink="/catalog-component"
    style="cursor: pointer; background-color: rgb(0, 0, 0, 0);border: none; padding:1%;">
    <h3 style="color: white;">Top Movies</h3>
  </button>
  <div style="text-align: right; width: 100%;">
    <button style="color: white;" routerLink="" type="button" class="btn btn-default btn-sm" (click)="logout()">
      <span class="glyphicon glyphicon-log-out">Log out</span>
    </button>
  </div>
</mat-toolbar>

<div style="text-align: center;">
  <mat-card (mouseover)="selected = i" (mouseleave)="selected = -1" class="mat-elevation-z4"
    *ngFor="let movie of movies; let i = index;" (click)="onClick(i)"
    style="margin: 1%; width: 200px; height: 300px; display:inline-block; cursor: pointer;  border-radius: 6px;">
    <img mat-card-image class="img-rounded" [src]="posterPrefix+movie.poster_path"
      style="height: 112%; border-radius: 6px;">
    <div *ngIf="selected==i" class="bottom-left">{{ movie.release_date.substring(0,4) }}</div>
    <div *ngIf="selected==i" class="bottom-right">&#11088;{{movie.vote_average}}/10</div>
  </mat-card>
</div>
<br>
<div class="d-flex justify-content-center">
  <button *ngIf="totalPages>=pageNumber" type="button" class="load__more" (click)="fetchMoreMovies()">
    Load More
  </button>
  <button *ngIf="totalPages>=pageNumber+1" type="button" class="load__more" (click)="topFunction()">
    &#8593;
  </button>
</div>