/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRO9elP-cBbLd3jdWAXivW13gjVqIF_MfxL24xwtdVBR6jXYCt-puarEedhmYOugvrEus0&usqp=CAU);
    background-repeat: repeat-y;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}